.playing-card {
  height: 89mm;
  width: 64mm;
  font-size: 10mm;
}

@media print {
  .bp3-drawer-header {
    display: none!important;
  } 
  .bp3-drawer-footer {
    display: none!important;
  }

  .bp3-dialog-body {
    margin: 0!important;
  }
}
