*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body, #root, .app {
  width: 100%;
  height: 100%;
  border: none;
  margin: 0;
  padding: 0;
}

//Utility Classes

.row {
  display: flex;
  flex-direction: row;
  margin-top: 0.5em;
}

.col {
  display: flex;
  flex-direction: column;
  margin-left: 0.5em;
}

.f1 {
  flex: 1;
}

.f2 {
  flex: 2;
}

.full-x {
  width: 100%;
}

.full-y {
  height: 100%;
}

.full-xy {
  width: 100%;
  height: 100%;
}

.app-section {
  width: 100%;
  height: 100%;
}

.hidden {
  display: none;
}

.bp3-dialog.dialog--wide {
  width: 1000px;
}